header {
  background: transparent;
  color: #333;
  text-align: center;
  padding: 10px 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  position: relative;
  cursor: none;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows clicks to pass through */
  background: black;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333; /* Make sure this is also black */
}

/* Rest of your styles for header, section, etc. */

section {
  margin: 20px;
  padding: 20px;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

h2 {
  color: #333;
}

h3{
  color: #333;
}

p{
  color: #333;
}
article {
  margin-bottom: 15px;
}

#contact {
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* @media (max-width: 600px) {
  body {
    background-color: #fff;
  }
} */

/* Same as before, but you can add hover effects, transitions, etc., for interactivity */

article {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

article:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 10px 20px #333;
}

article, .project-tech {
  background: transparent; /* Or remove the background property entirely */
  /* other styles */
}

/* Keyframes for fadeIn effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Apply the fadeIn effect to sections */

.tech-tag {
  display: inline-block;
  background: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 0.8em;
  color: #333; 
} 


